@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1B1B1E;
  --bg-secondary: #26262C;
  --bg-tertiary: #2c2c31;
  --text-primary: linear-gradient(to right, #F4442C, #51f369 100%);
  --links: #ADD5F2;
  --sub-text: #A0A0A0;
}

body{
  background-color: var(--bg-primary);
}
.gradient-bg {
  background-image: linear-gradient(to right, #F4442C, #F69C08);
}
.gradient-text {
  background-image: linear-gradient(to right, #F4442C, #F69C08);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-weight: bold;
}

.borderr{
  border: 1px solid red;
}



